.notice {
  border: 2px solid var(--border-color);
  border-radius: var(--border-radius-box-inner);
  background-color: var(--bg-color-notice);
  padding: 15px !important;
  position: relative;
  display: flex;
  flex-direction: column;

  &__date {
    align-self: flex-end;
    font-size: smaller;
    color: #5f5f5f;
  }
}
