* {
    font-family: 'Arial Rounded MT',Arial; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width:100%;
    overflow-x:hidden;
    
}


footer {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding-top: 60px;
    background-color: transparent; 
    font-size: 1vw;
}
button {
    border: none;
    text-align: center;
    text-decoration: none;
}
article {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
    margin-left:10px;
    margin-right:10px;
}
figure {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
u {
    cursor: pointer;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
div {
    border: none;
}
a {
    text-decoration: none;
    
}
a:link, a:visited {
    background: transparent;
  }
  
  a:hover, a:active {
      color: #c4c4c4;
  }
  
.absolute {
    position: absolute;
}
.relative{
    position:relative;
}
.responsive {
    display: none;
}
.hidden{
    visibility: hidden;
}
.centerContent {
    align-items: center;
    justify-content: center;
}

.display_none{
    display: none;
}
.drop-shadow-black {
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}
.i_arrow_icon{
    color:white;
    font-size: 50px;
    cursor:pointer;
}
.i_darkmode_icon{
    color:white;
    font-size: 30px;
    
}
.i_darkmode_icon:hover{
    cursor:pointer;
}
.i_darkmode_icon_social{
    color:white;
    font-size: 40px;
}


/*Font color und background color*/
.body-bg-darkmode {
    background:#181818;
    color:white;
}
.body-bg-lightmode {
    background:#ebebeb;
    color:#181818;
    background-image: radial-gradient(#f0f0f0,#e2e2e2);
}
.bg-color_dark{
    background-color: #181818;
}
.bg-color_zuhause{
    background-color: #F0B399;
}
.bg-color_anfänger{
    background-color: #2fac66ff;
}
.bg-color_fortgeschritten{
    background-color: #5C9EC4;
}
.bg-color_experte{
    background-color: #DB7267;
}
.color_neu{
    color: #d40000ff;
}
.color_anfänger{
    color: #5CC4A0;
    background-color:white;
}
.color_fortgeschritten{
color:#5C9EC4;
background-color:white;
}
.color_experte{
   color: #DB7267;
   background-color:white;
}
.font-color-anfänger{
    color:#72c74b;
}
.font-color-zuhause{
    color:#F0B399;
}
.font-color-fortgeschritten{
    color:#5C9EC4;
}
.font-color-experte{
    color:#DB7267;
}
.color-red{
    color:red;
}
.color-yellow {
    color: yellow;
}
.color-green{
    color:green;
}
.color-white{
    color:white;
}
.color_light{
    color:white;
}
.color_dark{
    color:#181818;
}
.logo_fill{
    fill:#eb5b9c;
}
.logo_fill_anfänger{
    fill:#72c74b;
}
.logo_fill_fortgeschritten{
    fill:#59b2e6;
}
.logo_fill_experte{
    fill:#DB7267;
}
.logo_fill_zuhause{
    fill:#F0B399;
}
/***************************************************/
/*Button Startseite*/
.buttonStart {
    font-size: 18px;
    transition-duration: 0.4s;
    box-shadow: 0px 0px 0.35vw 0.1vw rgba(0, 0, 0, .4);
    height: 50px;
    width: 160px;
    background-color: #03A9F4;
    color: white;
    border-radius: 15px;
    border-color: none;
 
}

    .buttonStart:hover {
        background-color: #29B6F6;
        box-shadow: 0px 0px 0.35vw 0.1vw rgba(0, 0, 0, .1);
        transform:translateY(-5px);
        cursor:pointer;
    }
/***************************************************/
/*Logo und Bilder*/
.logo {
    height: 120px;
    width: 120px;
   
}
    .logo:hover {
        cursor: pointer;
        filter: drop-shadow( 3px 3px 1px rgba(0, 0, 0, .7));
    }
    .logo_responsive{
        display:none;
    }
#imgYoga1 {
    position:relative;
    margin-left:45vw;
    width: 45vw;
    min-width: 150px;
    
}
#imgYoga2 {
    position: relative;
    top:0vw;
    width: 50vw;
    min-width: 200px;
}
#imgChakra {
    position:relative;
    left:5vw;
    width: 20vw;
   
}
.imgKursStart {
    margin-top: 30px;
    width: calc(100px + 23vw);
    transition-duration: 0.8s;
}
#imgStart {
    position: relative;
    display: inline-block;
    left: 0;
    top: 0;
    max-width: 100%;
    height: 100%;
}
.imgStartKurse {
    position: relative;
    display: inline-block;
    left: 0;
    top: 0;
    max-width:100%;
    
    height: 100%;
}
.img_spiegeln{
    transform: scaleX(-1);
}
.img {
    max-width: 100%;
}
#img_hathayoga:hover{
    filter: drop-shadow( 5px 5px 2px #72c74b);
    transform: translate(0,-3px);
    cursor:pointer;
}
#img_vinyasayoga:hover{
    filter: drop-shadow( 5px 5px 2px #5C9EC4);
    transform: translate(0,-3px);
    cursor:pointer;
}
#img_gutenmorgenyoga:hover{
    filter: drop-shadow( 5px 5px 2px #F0B399);
    transform: translate(0,-3px);
    cursor:pointer;
}
.responsive_kurse_img{
    display:none;
}
.imgGutenMorgenYoga {
    margin-top: 500px;
}
.social_icon {
    width: calc(25px + 1.62vw);
    padding: 5px,0;
}

    .social_icon:hover {
        filter: drop-shadow( 2px 2px 1px #c4c4c4);
    }
.arrow_icon {
    transform: rotateX(0.5turn);
    text-align: center;
    margin-top: 10px;
    filter: drop-shadow( 2px 2px 1px rgba(0,0,0, .7));
}
    .arrow_icon:hover {
        filter: drop-shadow( -2px -2px 4px #c4c4c4);
    }
/***************************************************/

/*Footer*/
.socials {
    display: flex;
}

.flex_footer {
    display: inline-flex;
    align-items: end;
    justify-content: flex-end;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}
.flex_footer_mid {
    flex: 1 1 0px;
    text-align:center;
}

.flex_footer_right {
    flex: 1 1 0px;
    text-align: right;
}
.flex_footer_left {
    flex: 1 1 0px;
    text-align: left;
}
.flex_footer_left_responsive{
    display:none;
}
.flex_footer_mid_responsive{
    display:none;
}
.footercenter {
   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.footpadding_right {
    padding-right: 10px;
}
.footpadding_left {
    padding-left: 10px;
}

/***************************************************/

/*Flexbox und Abstände*/
.flex {
    display: flex;
    width: 100%
}
.flex_text_startscreen {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
}
.flexNormal {
    display: flex;
    text-align: center;
}
.flex-1-1-0{
    flex:1 1 0px;
}
.flex-grow1 {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.flex-grow2 {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
}
.flex-growImg {
    flex-grow: 1;
}
.align-vertical {
    flex-direction: column;
}
.flex-growYogaText {
    flex-grow: 4;
}
.flex_Normal_responsive {
    display: none;
    width: 100%
}
.margin-top_buttonStart{
    margin-top: 5vw;
}
.margin-top{
    margin-top:8.1vw;
}
.margin-top_text{
    margin-top:50px;
}
.margin-top_klein {
    margin-top: 4.1vw;
}
.margin-top-50{
    margin-top:-50px;
}
.margin-top_kursplan {
    margin-top: calc(50px + 6.5vw);
}
.position_GutenMorgenYoga {
    margin-top: 0;
}
.position_text {
    margin-top: 530px;
}
.margin-left{
    margin-left:50px;
}
.margin-bottom20{
    margin-bottom:20px;
}
.margin_button{
    margin-left: 30px;
}
.footer_mode_icon{
    margin-bottom: 25px;
}
.footer_mode_icon_abstand{
    margin-left: 5px;
    margin-right: 5px;
}
.width50{
    width:50%;
}
.width100{
    width:100%;
}
.maxWidth {
    max-width: 100%;
}
.height100{
    height:100%;
}
.align-items_center{
    align-items:center;
    justify-content:center;
}

.divAbstandL {
    flex: 1 1 0px;
}

.divAbstandR1 {
    flex: 1 1 0px;
}
.divAbstandR05 {
    flex: 0.5 0.5 0px;
}
.divAbstandR {
    flex: 3 3 0px;
}
.divAbstandR4 {
    flex: 4 4 0px;
}
.divAbstandR6 {
    flex: 6 6 0px;
    
}
/***************************************************/
/*Navigation bzw. Navbar*/
.navbar {
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 150vw;
    position:relative;
    top:10px;
    text-align: center;
}

.navbarLogo {
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    justify-content:center;
    text-align:center;
    top: 0px;
}
.nav_pos {
    position: absolute;
    width:calc(150px + 3.2vw);
    top: 0;
    left:calc(20px + 6.5vw);
    height: 0px;
    text-align: center;
}
.linkNav {
    text-align: center;
    text-shadow: 1px 1px 1px black;
    font-size: calc(12px + 0.8vw);
    height: 20px;
    width:calc(50px + 6.5vw);

}
.responive_nav {
display:none;
}
/***************************************************/


/*Text, Font und Textabstand*/
.start_text {
    top: calc(150px + 9.7vw);
}
.start_text_kurs {

    top: calc(150px + 9.7vw);
}
.start_text2 {
    top: calc(270px + 9.7vw);
}
.start_text3 {
    top: calc(310px + 9.7vw);
}
.start_text3_fortgeschritten {
    top: calc(370px + 9.7vw);
}
.text-align_center {
    text-align: center;
}
.text-align-right{
    display:flex;
    text-align:left;
    justify-content:left;
}
.text_yoga_start {
    flex-grow: 1;
    position: absolute;
    font-size: 1.5vw;
}
.text_yoga_start_responsive {
    display:none;
}
.text_kurs_startscreen {
    display: block;
    position: absolute;
    flex: 1 1 0px;
    top: 0;
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    color: white;
    font-family: 'Arial Rounded MT';
    font-weight: bold;
    font-size: 50px
}
.text_kurse {
    font-family: 'Arial Rounded MT';
    font-size: 1.3vw;
    padding: 0 30px 0 30px;
    
}
.aFontKurseKlein {
    font-family: 'Arial Rounded MT';
    font-size: calc(16px + 1vw);
}
.h2Kurse {
    font-size: 60px;
}
.h3_kurse {
    font-size: 30px;
}
.text_startscreen_first {
    flex: 1 1 10px;
    width: 100%;
    color:white;
    font-family: 'Arial Rounded MT';
    font-size: 3.3vw;
    filter: drop-shadow( 2px 2px 1px rgba(0, 0, 0, .7));
}
.font-size30{
    font-size:30px;
}
.h2_yoga_start {
    flex-grow: 1;
    
    position: absolute;
    font-family: 'Arial Rounded MT';
    font-size: 4vw;
}
.h2_yoga_start_responsive {
    display: none;
}
.aKurse {
    font-family: 'Arial Rounded MT';
    font-size: 2vw;
}
/***************************************************/


/*Buttons*/
    .button_startscreen_kurse {
        
        height: calc(30px + 1.3vw);
        width: calc(100px + 5.2vw);
        font-family: Arial;
        font-weight: bold;
        color: black;
        background-color: white;
        border-radius: 15px;
        border-color: none;
        border: none;
        font-size: calc(12px + 0.39vw);
        margin-top: 5px;
        text-decoration: none;
        transition-duration: 0.5s;
        
    }
   
    #button_hatha{
        display:none;
        position:relative;
        left:50%;
        opacity: 0;
        -ms-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
        height: calc(30px + 1.3vw);
        width: calc(100px + 5.2vw);
        justify-content: center;
        text-align: center;
        color: white;
        background-color: #72c74b;
        border-radius: 15px;
        border-color: none;
        border: none;
        font-size: calc(12px + 0.39vw);
        
        margin-top: 5px;
        text-decoration: none;
        transition-duration: 0.5s;
    }
    #button_hatha:hover{
        border-style:solid;
        border-color: white;
        filter: drop-shadow( 2px 2px 8px white);
        cursor:pointer;
        
    }
    #button_vinyasa{
        display:none;
        position:relative;
        left:50%;
        -ms-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
        height: calc(30px + 1.3vw);
        width: calc(100px + 5.2vw);
        justify-content: center;
        text-align: center;
        color: white;
        background-color: #5C9EC4;
        border-radius: 15px;
        border-color: none;
        border: none;
        font-size: calc(12px + 0.39vw);
        margin-top: 5px;
        text-decoration: none;
        transition-duration: 0.5s;
    }
    #button_vinyasa:hover{
        border-style:solid;
        border-color: white;
        filter: drop-shadow( 2px 2px 8px white);
        cursor:pointer;
        
    }
    #button_gutenmorgenyoga{
        display:none;
        position:relative;
        left:50%;
        -ms-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
        height: calc(30px + 1.3vw);
        width: calc(100px + 5.2vw);
        justify-content: center;
        text-align: center;
        color: white;
        background-color: #F0B399;
        border-radius: 15px;
        border-color: none;
        border: none;
        font-size: calc(12px + 0.39vw);
        margin-top: 5px;
        text-decoration: none;
        transition-duration: 0.5s;
        
    }
    #button_gutenmorgenyoga:hover{
        border-style:solid;
        border-color: white;
        filter: drop-shadow( 2px 2px 8px white);
        cursor:pointer;
        
    }
.bkursStart {
    
    height: calc(30px + 1.3vw);
    width: calc(100px + 5.2vw);
    font-family: Arial;
    font-weight: bold;
    color: black;
    background-color: white;
    border-radius: 15px;
    border-color: none;
    border: none;
    font-size: calc(12px + 0.39vw);
    margin-top: 5px;
    text-decoration: none;
    transition-duration: 0.5s;
    font-family: 'Arial Rounded MT';
}

    .bkursStart:hover {
        background-color: #F58848;
        color: white;
    }
.bkurse {
    height: 50px;
        width: 180px;
        color: black;
        background-color: white;
        border-radius: 15px;
        border-color: none;
        border: none;
        font-size: 18px;
        margin-top: 5px;
        text-decoration: none;
        transition-duration: 1s;
    
}
    .bkurse:hover {
        color: white;
        cursor:pointer;
            transform:translateY(-5px);
    }
    #bt_anfänger:hover {
        color: white;
            box-shadow: inset 300px 0 0 0 #72c74b;
            transform:translateY(-5px);
    }
    #bt_fortgeschritten:hover {
        color: white;
            box-shadow: inset 300px 0 0 0 #5C9EC4;
            transform:translateY(-5px);
    }
    #bt_experte:hover {
        color: white;
            box-shadow: inset 300px 0 0 0 #DB7267;
            transform:translateY(-5px);
    }
    #bt_zuhause:hover {
        color: white;
            box-shadow: inset 300px 0 0 0 #F0B399;
            transform:translateY(-5px);
    }
    
.button-anfänger {
    height: 50px;
    width: 180px;
    color: black;
    background-color: white;
    border-radius: 15px;
    border-color: none;
    border: none;
    font-size: 18px;
    margin-top: 5px;
    text-decoration: none;
    transition-duration: 1s;
    }
        .button-anfänger:hover {
            color: white;
            box-shadow: inset 300px 0 0 0 #72c74b;
            transform:translateY(-5px);
            }
.button-fortgeschritten {
    height: 50px;
    width: 180px;
    color: black;
    background-color: white;
    border-radius: 15px;
    border-color: none;
    border: none;
    font-size: 18px;
    margin-top: 5px;
    text-decoration: none;
    transition-duration: 1s;
    }
        .button-fortgeschritten:hover {
        color: white;
        box-shadow: inset 300px 0 0 0 #5C9EC4;
        transform:translateY(-5px);
                }
.button-experte {
    height: 50px;
    width: 180px;
    color: black;
    background-color: white;
    border-radius: 15px;
    border-color: none;
    border: none;
    font-size: 18px;
    margin-top: 5px;
    text-decoration: none;
    transition-duration: 1s;
    }
        .button-experte:hover {
            color: white;
            box-shadow: inset 300px 0 0 0 #DB7267;
            transform:translateY(-5px);
            }
.button-zuhause {
    height: 50px;
    width: 180px;
    color: black;
    background-color: white;
    border-radius: 15px;
    border-color: none;
    border: none;
    font-size: 18px;
    margin-top: 5px;
    text-decoration: none;
    transition-duration: 1s;
    }
        .button-zuhause:hover {
        color: white;
        box-shadow: inset 300px 0 0 0 #F0B399;
        transform:translateY(-5px);
        }
/***************************************************/
/*Formular Anmeldung*/
.kurs_anmeldung{
    
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height:450px;
    padding:20px 40px;
    
    background: #c26363;
    
    visibility: hidden;
}
.abbrechen{
    position:fixed;
    top:10px;
    right:10px;
    cursor:pointer;
    }
.abbrechen:hover{
    color: rgb(255, 252, 53);
    cursor:pointer;
    }

.controll_email{
    position:fixed;
top:10px;
left:10px;
color:rgb(255, 252, 53);
visibility: hidden;
}
#error{
    position:fixed;
top:10px;
left:10px;
color:rgb(255, 252, 53);
visibility: visible;
}
#error_name{
    position:fixed;
    top:95px;
    left:90px;
    color:rgb(255, 252, 53);
    visibility: visible;
}

#error_email{
    position:fixed;
    top:167px;
    left:90px;
    color:rgb(255, 252, 53);
    visibility: visible;
}
#error_agb{
    position:fixed;
    top:315px;
    left:150px;
    color:rgb(255, 252, 53);
    visibility: visible;
}
#angemeldet{
    position:fixed;
    top:150px;
    left:0;
    width:300px;
    text-align: center;
    font-size:26px;
    visibility: visible;
}

.kurs_anmeldung h2{
    margin:0;
    padding: 0 0 20px;
    text-align:center;
    text-transform: uppercase;
}
.kurs_anmeldung p{
    margin:0;
    padding:0;
}
.kurs_anmeldung label{
    margin:0;
    padding:0;
    cursor:pointer;
}
.kurs_anmeldung input{
    width:100%;
    margin-bottom: 20px;
}
.kurs_anmeldung input[type="text"] 
{
    border:none;
    border-bottom: 1px solid white ;
    background: transparent;
    outline:none;
    height:35px;
    font-size: 16px;
}
.kurs_anmeldung input[type=email] 
{
    border:none;
    border-bottom: 1px solid white ;
    background: transparent;
    outline:none;
    height:35px;
    font-size: 16px;
}
.kurs_anmeldung input[type="submit"] 
{
    border:none;
    border-radius: 15px;
    margin-top:15px;
    outline:none;
    height:30px;
    background:white;
    font-size: 16px;
    cursor: pointer;
}
.kurs_anmeldung input[type="submit"]:hover
{
   
    background:rgb(77, 160, 255);
    color:white;
    
    cursor: pointer;
}
.kurs_anmeldung input[type="checkbox"] 
{
    width: 20%;
}
.kurs_anmeldung input[type="radio"] 
{
    width: 20%;
}
.bkurse_abmelden {
    height: 50px;
        width: 180px;
        color: tomato;
        background-color: white;
        border-radius: 15px;
        border-color: none;
        border: none;
        font-size: 18px;
        margin-top: 5px;
        text-decoration: none;
        transition-duration: 1s;
    
}
    .bkurse_abmelden:hover {
        color: tomato;
            transform:translateY(-5px);
    }
.banmeldung {
    height: 50px;
        width: 180px;
        color: black;
        background-color: white;
        border-radius: 15px;
        border-color: none;
        border: none;
        font-size: 18px;
        margin-top: 5px;
        text-decoration: none;
        transition-duration: 0.1s;
        position:fixed;

left:50%;
transform: translate(-50%,0);        
}
    .banmeldung:hover {
        color: white;
            box-shadow: inset 300px 0 0 0 #1f6fd8;
            
    }
.filter_blur{
    filter:blur(0px);
}
/***************************************************/
/*Logo Animation*/

#Abstraktes_Logo{
    fill: #29B6F6;
    margin-top: 10px;
    transition-duration: 1s;
    filter: drop-shadow(0px 0.2vw 0.2vw rgba(0, 0, 0, .6));
   
}

#Abstraktes_Logo:hover path:nth-child(1){
    animation:rotate_right 1s forwards;
    transform-origin: center;
    transform-box: fill-box;
}
/*Teil unten*/
#Abstraktes_Logo:hover path:nth-child(2){
  
    /*animation:rotate_bottom 1s forwards;*/
    transform-origin: center;
    transform-box: fill-box;
   
}
#Abstraktes_Logo:hover path:nth-child(3){
    animation:rotate_left 1s forwards;
    transform-origin: center;
    transform-box: fill-box;
}
#Abstraktes_Logo:hover circle{
    animation:rotate_kreis 1s forwards;
    transform-origin: center;
    transform-box: fill-box;
}


@keyframes rotate_right { 
    0% { 
        transform:rotate(0deg)translateY(-20px) translateX(-25px); 
    } 
    100% { 
        transform:rotate(-10deg)translateY(-20px) translateX(-40px); 
    } 
    
}
@keyframes rotate_bottom { 
    0% { 
        
        transform:rotate(0deg) translateY(-20px) translateX(-20px);  
    } 
    100% { 
        transform:rotate(-70deg )translateY(10px) translateX(50px);  
    } 
    
}
@keyframes rotate_left { 
    0% { 
        
        transform:rotate(0deg) translateY(-15px) translateX(-30px);  
    } 
    100% { 
        transform:rotate(-3deg )translateY(0px) translateX(-30px);  
    } 
    
}
@keyframes rotate_kreis {
   
    0% { 
        
        transform:rotate(0deg) translateY(0px) translateX(0px);  
    } 
    100% { 
        transform:translateY(0px) translateX(-10px);  
    } 

}




#Abstraktes_Logo path:nth-child(1){
    animation:rotate_right_out 1s forwards;
    transform-origin: center;
    transform-box: fill-box;
}

#Abstraktes_Logo path:nth-child(2){
  
    
    transform-origin: center;
    transform-box: fill-box;
   
}
#Abstraktes_Logo path:nth-child(3){
    animation:rotate_left_out 1s forwards;
    transform-origin: center;
    transform-box: fill-box;
}
#Abstraktes_Logo circle{
    animation:rotate_kreis_out 1s forwards;
    transform-origin: center;
    transform-box: fill-box;
}
@keyframes rotate_right_out { 
    0%{
        transform:rotate(-10deg)translateY(-20px) translateX(-40px); 
       }
    100% { 
        transform:rotate(0deg)translateY(-20px) translateX(-25px); 
    } 
    
}
@keyframes rotate_bottom_out { 
    0%{
        transform:rotate(-70deg )translateY(10px) translateX(50px);     
       }
    100% { 
        transform:rotate(0deg )translateY(-20px) translateX(-20px);  
    } 
    
}
@keyframes rotate_left_out { 
    0%{
        transform:rotate(-3deg )translateY(0px) translateX(-30px);   
       }
    100% { 
        transform:rotate(0deg )translateY(-15px) translateX(-30px);  
    } 
    
}
@keyframes rotate_kreis_out {
   0%{
    transform:translateY(0px) translateX(-10px);   
   }
    
    100% { 
        transform:rotate(0deg )translateY(0px) translateX(0px);  
    } 

}
/***************************************************/

/*Smartphone*/
@media only screen and (max-width: 600px) {
    .display_smartphone_none{
        display:none;
    }
    .flexNormal{
        display:none;
        width:100%
    }
    .flex_Normal_responsive {
        display: flex;
        width: 100%;
        justify-content:center;
        align-items:center;
        text-align:center;
    }
 /*Footer*/   
    .flex_footer_left{
        display:none;
    }
    .flex_footer_left_responsive{
        display:block;
        flex: 1 1 0px;
    text-align: left;
    }
    .flex_footer_mid{
        display:none;
    }
    .flex_footer_mid_responsive{
        display:block;
        flex: 1 1 0px;
    text-align: center;
    }
    .footpadding_right {
        padding-right: 0px;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .footpadding_left {
        padding-left: 0px;
        overflow-x: hidden;
        overflow-y: hidden;
    }
/***************************************************/   
/*Navigation*/
    .header {
        display: block;
        
    }
    .nav_pos {
        display: none;
        position: absolute;
        z-index: 999;
        top: 0;
        left: 0px;
        height: 0px;
        text-align: left;
        margin-top: 0px;
        
    }
    .navbar {
        display: none;
        position: relative;
        top: 0;
        left: 0px;
        text-align: center;
        height: 0;
        width: 300px;
        
    }
    .navbarLogo {
        display: none;
        position: relative;
        left: 0px;
        top: 0px;
        height: auto;
        width: 0;
        text-align: center;
        
    }
    .responive_nav {
        display: block;
        overflow: hidden;
        color: white;
        position: absolute;
        border-radius: 10px;
        top: 10px;
        right: 10px;
        filter: drop-shadow( 2px 2px 3px rgba(0, 0, 0, .7));
    }

        .responive_nav #social_links {
            display: none;
        }

       
        .responive_nav a {
            color: white;
            padding: 10px 10px;
            text-decoration: none;
            font-size: 20px;
            display: block;
            
        }
        

            .responive_nav a:hover {
                background-color: #ddd;
                color: #181818;
            }
            .linkNav2 {
                display: block;
                position: relative;
                
                text-align: right;
            }
            .logo {
              
                height: 100px;
                width: 100px;
            }
            .logo_responsive {
                display:flex;
                position: absolute;
                left: 0;
                top: 0;
            }

 /***************************************************/   
   
/*Text*/
    .h2_yoga_start_responsive {
        display: flex;
        position: absolute;
        top: 0vw;
        left: 10vw;
        font-family: 'Arial Rounded MT';
        font-size: 7vw;
    }
    

    .text_startscreen_first {
        display: block;
        position: absolute;
        color: white;
        text-align: center;
        font-family: 'Arial Rounded MT';
        font-size: calc(40px + 0.39vw);
        top: 150px;
        width:400px;
        left: 50%;
        -ms-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
        filter: drop-shadow( 2px 2px 1px rgba(0, 0, 0, .7));
    }

    .h2_yoga_start{
        display:none;
    }
    .start_text {
        z-index: 999;
        top: calc(70px + 9.7vw);
    }
    .start_text_kurs {
        top: 235px;
    }
    
    .text_yoga_start {
        display:none;
    }
    .text_yoga_start_responsive {
        display: flex;
        position: absolute;
        left: calc(40px + 1vw);
        font-family: 'Arial Rounded MT';
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .text_kurse {
        font-family: 'Arial Rounded MT';
        font-size: 16px;
        padding: 0 30px 0 30px;
        
    }
/***************************************************/
/*Bilder*/
    .imgStartKurse_zuhause{
        position: relative;
    display: inline-block;
    left: 0;
    top: 0;
    max-width:100%;
    height: 100%;
    }
    .imgStartKurse {
        position: relative;
        display: inline-block;
        left: 0;
        top: 0;
        max-width: 1000px;
        height: 100%;
    }
    #imgChakra {
        display: none;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    #imgStart {
        display: block;
        max-width: 900px;
        transform: translateX(-100px);
        
    }
    #imgYoga1 {
        position: relative;
        top: 30px;
        margin-left: 43vw;
        width: 50vw;
        min-width: 200px;
        
    }
    #imgYoga2 {
        position: relative;
        top: 0;
        left: -50px;
        width: 100vw;
        min-width: 200px;
        
    }
    .imgKursStart_responsive {
        margin-top: 30px;
        width: 100%;
        transition-duration: 0.8s;
    }
.responsive_kurse_img {
        display: flex;
    }

    .responsive_kurse_img_noDisplay {
        display: none;
    }
/***************************************************/
    .bkursStart_responsive {
        text-align:center;
        height: calc(30px + 1.3vw);
        width: calc(100px + 5.2vw);
        font-family: Arial;
        font-weight: bold;
        color: black;
        background-color: white;
        border-radius: 15px;
        border-color: none;
        border: none;
        font-size: calc(12px + 0.39vw);
        margin-top: 5px;
        text-decoration: none;
        transition-duration: 0.5s;
        font-family: 'Arial Rounded MT';
    }
    .bflex {
        display: block;
    }
    .buttonP {
        position: absolute;
        top: 200px;
        left: 50%;
        -ms-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
       
    }                    
    .icon_burger_menu {
        display: block;
        background: white;
        position: relative;
        padding: 10px 10px;
        text-decoration: none;
        width: 100%;
        height: 50px;
        transition-duration: 0.5s;
    }
    
    .responsive{
        display:block;
        
    }
    
    .display_inline-block {
        display: inline-block;
    }
    .margin-top_kurse {
        margin-top: calc(10px + 10.1vw);
    }
    .margin-top {
        margin-top: calc(200px + 10.1vw);
    }
    .arrow_icon {
        display: none;
    }
    .responsive_kurse {
        display: flex;
        flex-direction: column;
    }
    .margin-top_kursplan {
        margin-top: calc(200px + 6.5vw);
    }
}
/*Tablet*/
@media only screen and (max-width: 1000px) and (min-width:600px) {
    *{
        font-size: 16px;
    }
    .responsive_kurse {
        display: flex;
        flex-direction: column;
    }

    .responsive_kurse_img {
        display: flex;
    }

    .responsive_kurse_img_noDisplay {
        display: none;
    }

    .aFontKurse {
        color: white;
        font-family: 'Arial Rounded MT';
      
    }

    .imgStartKurse {
        position: relative;
        display: inline-block;
        transform: scaleX(-1);
        left: 0;
        top: 0;
        max-width: 1000px;
        height: 100%;
    }

    .text_kurs_startscreen h1 {
        display: block;
        position: absolute;
        flex: 1 1 0px;
        top: 0;
        filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
        color: white;
        font-family: 'Arial Rounded MT';
        font-weight: bold;
        font-size: 33px;
    }

    .margin-top_responsive {
        margin-top: calc(-1px - 5vw);
    }
    
    .margin-top_kursplan {
        margin-top: calc(80px + 6.5vw);
    }
    .text_kurse {
        font-family: 'Arial Rounded MT';
        font-size: 16px;
        padding: 0 30px 0 30px;
        
    }
    .imgKursStart {
        margin-top: 30px;
        width: calc(500px + 23vw);
        transition-duration: 0.8s;
    }
    #imgYoga1{
        position:relative;
    margin-left:51vw;
    width: 45vw;
    min-width: 150px;
    }
    #imgYoga2 {
        position: relative;
        top: 0vw;
        width: 55vw;
        min-width: 200px;
    }
    .responsive_card{
        flex-direction: column;
    }
    /*Buttons  Tablet*/
    #button_hatha{
        height:50px;
        width:200px;
    }
    #button_vinyasa{
        height:50px;
        width:200px;
    }
    #button_gutenmorgenyoga{
        height:50px;
        width:200px;
    }
    .aKurse {
        font-family: 'Arial Rounded MT';
       
    }
}
/*Smartphone*/
@media only screen and (max-width:600px) {
    *{
        font-size: 12px;
    }
    .aKurse {
        font-family: 'Arial Rounded MT';
        font-size: 12px;
    }
    .buttonStart {
        font-size: 16px;
        height: 50px;
        width: 100px;
    }
    .text_kurs_startscreen h1{
        font-size: 33px;
    }
}