:root {
  --white: #efefef;
  --dark: #232323;
  --transition: all 0.3s ease-in-out;
  --transition-slow: all 0.5s ease-in-out;
  --icon-width: 25px;
  --icon-height: 25px;
  --border-radius-box-outer: 20px;
  --border-radius-box-inner: 10px;
  }
