# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/node_modules
/.pnp
.pnp.js

# testing
/frontend//coverage

# production
/frontend/build

# misc
.DS_Store
.env
.env.local
.env.development
.env.development.local
.env.test.local
.env.production
.env.production.local

.htaccess
.htaccess.development
.htaccess.production
npm-debug.log*
yarn-debug.log*
yarn-error.log*
