:root {
    --bg-color-body: #141414;
    --bg-color-project-showcase: #202020;
    --bg-color-navbar: #242424;
    --bg-color-figcaption: #353535;
    --bg-color-burger-menu: #242424;
    --bg-color-header: #242424db;
    --bg-color-btn: #343434;
    --shadow-color: #101010;
    --primary-color: #0f95fb;
    --secondary-color: #ff6347;
    --font-color-light: #f2f2f2;
    --font-color: #c2c2c2;
    --fs-headline: 5rem;
    --fs-700: 4rem;
    --fs-600: 3.5rem;
    --fs-500: 3rem;
    --fs-400: 2.5rem;
    --fs-300: 2rem;
    --fs-200: 1.5rem;
    --fs-150: 1.25rem;
    --fs-100: 1rem;
    --fs-75: 0.75rem;
    --fs-50: 0.5rem;
    --fs-25: 0.25rem;
    --border-color: #4a4a4a;
    --border-radius-button: 10px;
    --border-radius-box-outer: 20px;
    --border-radius-box-inner: 10px;
    --link-color: #ececec;
    --link-color-hover: #b3b3b3;
    --ln-gradient-primary: linear-gradient(var(--primary-color), #5629f6);
    --ln-gradient-secondary: linear-gradient(var(--secondary-color), #f6a829);
  }
  