:root {
  --bg-color-body: #141414;
  --bg-color-project-showcase: #202020;
  --bg-color-navbar: #242424;
  --bg-color-figcaption: #353535;
  --bg-color-burger-menu: #242424;
  --bg-color-header: #242424db;
  --bg-color-btn: #343434;
  --shadow-color: #101010;
  --primary-color: #0f95fb;
  --secondary-color: #ff6347;
  --font-color-light: #f2f2f2;
  --font-color: #c2c2c2;

/*   --fs-headline: clamp(3rem, 5vw, 5rem);
  --fs-500: clamp(2.5rem, 4vw, 4rem);
  --fs-300: clamp(1.5rem, 3vw, 3rem);
  --fs-150: clamp(1.25rem, 2.5vw, 2rem);
  --fs-100: clamp(1rem, 2vw, 1.5rem);
  --fs-75: clamp(0.75rem, 1.5vw, 1.25rem);
  --fs-50: 0.5rem;
  --fs-25: 0.25rem; */

  --border-color: #4a4a4a;
  --border-radius-button: 10px;
  --border-radius-box-outer: 20px;
  --border-radius-box-inner: 10px;
  --link-color: #ececec;
  --link-color-hover: #b3b3b3;
  --ln-gradient-primary: linear-gradient(135deg,var(--primary-color), #5629f6);
  --ln-gradient-secondary: linear-gradient(var(--secondary-color), #f6a829);
}
