:root {
  --bg-color-body: #F5F5F5;
  --bg-color-dark: #1e1e1e;
  --bg-color-project-showcase: #202020;
  --bg-color-navbar: #242424;
  --bg-color-figcaption: #353535;
  --bg-color-burger-menu: #242424;
  --bg-color-btn: #343434;
  --bg-color-notice: #353535;
  --shadow-color: #101010;
  --primary-color: #1e1e1e;
  --secondary-color: #D21E3C;
  --font-color-light: #F5F5F5;
  --font-color: #c2c2c2;
  --font-color-dark: #1e1e1e;
  --border-color: #4a4a4a;
  --border-radius-button: 10px;
  --border-radius-box-outer: 20px;
  --border-radius-box-inner: 10px;
  --link-color: #ececec;
  --link-color-hover: #b3b3b3;
  --ln-gradient-primary: linear-gradient(135deg,var(--primary-color), #5629f6);
  --ln-gradient-secondary: linear-gradient(var(--secondary-color), #f6a829);
  --transition: all 0.3s ease-in-out;
}
