.aboutme-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    width: 100%;
    padding: 100px 20px 100px 20px;
}

.aboutme-headline{
    width: 100%;
    background: var(--ln-gradient-primary);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.aboutme-container{
    position: relative;
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;   
}
.aboutme-skills {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: 1 1 0px;
    padding: 20px 0px 20px 20px;
    > h3{
        padding-bottom: 20px;
    }
    > p{
        padding-bottom: 10px;
    }
}

.aboutme-introduction{
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 0px;
    > p{
        padding: 5px 0px 5px 0px;
    }
    &:after{
        content: "";
      background:linear-gradient(0deg, transparent 5%,var(--border-color) 50%, transparent 96%);
      position: absolute;
      width: 2px;
      height: 100%;
      top: 0px;
      left: 50%;
      display: block;
    }
}

@media screen and (max-width: 768px){
    .aboutme-headline{
        background: linear-gradient(90deg,var(--primary-color), #2952f6);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
}
@media screen and (max-width: 600px){
    .aboutme-skills {
        padding: 20px 0px 20px 0px;
    }
    .aboutme-introduction{
        padding: 20px 0px 20px 0px;
        &:after{
            display: none;
        }
    }
    .aboutme-container{
        flex-direction: column;
    }
    
}
@media screen and (max-width:400px){
    .aboutme-socials{
        justify-content: center;
    }
}