.hero {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  overflow: hidden;
  &__container {
    display: flex;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }
  &__image-box {
    border-radius: 100%;
    width: 350px;
    height: 350px;
    z-index: 99;
    transition: var(--transition);
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }
    @media screen and (max-width: 400px) {
      width: 250px;
      height: 250px;
    }
  }

  &__greeting {
    width: 100%;
    text-wrap: wrap;
    font-size: clamp(2.5rem, 6vw, 5rem);
    font-weight: bold;
    color: var(--font-color-dark);

    @media screen and (max-width: 768px) {
      font-size: clamp(3.5rem, 10vw, 5rem);
      padding: 0px 10px;
    }
    @media screen and (max-width: 400px) {
      font-size: clamp(2rem, 10vw, 5rem);
    }
  }

  &__content {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    width: 100%;
    margin: 20px;
    @media screen and (max-width: 768px) {
      margin: 0px;
    }
  }
  &__box {
    position: relative;
    display: block;
    margin-bottom: 75px;
    @media screen and (max-width: 768px) {
      text-align: center;
      margin-top: 10px;
      margin-bottom: 0px;
    }
  }
  &__description {
    font-size: clamp(0.9rem, 2vw, 1rem);
    color: var(--font-color-dark);
    @media screen and (max-width: 768px) {
      text-align: center;
      padding: 20px;
      background-color: var(--secondary-color);
      color: var(--font-color-light);
    }
  }
  &__name {
    font-size: clamp(1rem, 3vw, 2rem);
    margin-bottom: 30px;
    color: var(--font-color-dark);
    font-weight: bold;
    transition: var(--transition);

    &--red {
      color: var(--secondary-color);
    }
    @media screen and (max-width: 768px) {
      font-size: clamp(2rem, 3vw, 5rem);
      padding: 0px 10px;
    }
    @media screen and (max-width: 400px) {
      font-size: clamp(1.25rem, 3vw, 3rem);
    }
  }

  &__button {
    position: relative;
    background: transparent;
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    padding: 10px 20px;
    margin: 20px 0px;
    font-weight: 500;
    color: var(--font-color-dark);
    transition: var(--transition);
    border-radius: var(--border-radius-box-outer);
    overflow: hidden;
    border: 2px solid var(--font-color-dark);

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      color: var(--font-color-light);
      border: 2px solid var(--font-color-light);
      &::after {
        left: 0;
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: var(--bg-color-dark);
      z-index: -1;
      transition: var(--transition);
    }
    @media screen and (max-width: 768px) {
      margin: 35px 0px;
    }
  }

  &__icon {
    display: inline-block;
    animation: wave 0.5s ease-in-out 2;
  }

  &__seperator {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100px;
    background: var(--secondary-color);
  }

  &__arrows {
    position: absolute;
    overflow: hidden;
    z-index: 0;
  }
  &__arrows-seperator {
    position: absolute;
    overflow: hidden;
    z-index: 99;
  }
}
