.project-gallery {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px 20px 100px 20px;
  overflow: hidden;
  z-index: 1;
  @media screen and (max-width: 400px) {
    margin-bottom: 20px;
  }
  &__heading {
    color: var(--font-color-dark);
    margin-bottom: 50px;
    font-size: clamp(2.5rem, 1vw, 5rem);
    width: 100%;
    text-align: center;
  }

  &__grid {
    display: flex;
    gap: 3em;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 20px;

    @media screen and (max-width: 768px) {
      gap: 1em;
      margin: 20px;
    }
  }

  &__item {
    user-select: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--font-color-light);
    background-color: var(--primary-color);
    box-shadow: 0px 0px 5px 0px var(--shadow-color);
    max-width: 400px;
    width: 100%;
    height: 300px;
    border-radius: var(--border-radius-box-outer);
    transition: var(--transition);
    z-index: 99;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-box-outer) var(--border-radius-box-outer)
      0 0;
    border-bottom: 1px solid var(--secondary-color);
  }
  &__title {
    user-select: none;
    font-weight: bold;
    color: var(--font-color-light);
    font-size: clamp(1rem, 4vw, 1.25rem);
  }
  &__box {
    text-align: center;
    padding: 10px;
    > p {
      font-size: clamp(0.8rem, 4vw, 1rem);
    }
  }
  &__arrows {
    position: absolute;
    z-index: -1;
  }
}
