:root {
  --bg-color-showcase: #212121;
  --icon-box-width: 200px;
  --icon-box-bg-color-selected: var(--ln-gradient-primary);
}

.projectShowcase-box-wrapper {
  background-color: var(--bg-color-showcase);
  border-radius: var(--border-radius-box-outer);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
  width: 1000px;
}
.projectShowcase-headline {
  text-align: center;
  padding: 15px 5px 15px 5px;
  color: var(--font-color-light);
  overflow-wrap: break-word;
}
.projectShowcase-icons-box-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: var(--icon-box-bg-color-selected);
  overflow-wrap: break-word;
}

.icons-box {
  flex: 1 1 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  > a {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--font-color-light);
    padding: 10px;
    overflow-wrap: break-word;
  }
  > p {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--font-color-light);
    padding: 10px;
    overflow-wrap: break-word;
  }
}

.projectShowcase-icon {
  width: 30px;
  height: 30px;
  padding: 5px;
  color: white;
}

@media screen and (max-width: 1450px) {
  .projectShowcase-box-wrapper {
    width: 900px;
  }
}

@media screen and (max-width: 1000px) {
  :root {
    --icon-box-width: 100px;
  }
  .projectShowcase-box {
    margin: 20px;
  }
  .projectShowcase-box-wrapper {
    width: 750px;
  }
}

@media screen and (max-width: 768px) {
  .icons-box {
    flex-direction: column;
  }
  .projectShowcase-box-wrapper {
    width: 600px;
  }
  .projectShowcase-box {
    margin-top: 20px;
  }
}
/* Smartphone */
@media screen and (max-width: 600px) {
  :root {
    --icon-box-width: 80px;
  }
  .projectShowcase-box-wrapper {
    width: 90%;
  }
  .icons-box {
    > p {
    font-weight: 500;
    overflow-wrap: break-word;
    text-align: center;
    }
    > a {
      font-weight: 500;
      overflow-wrap: break-word;
      text-align: center;
    }
  }

  .projectShowcase-icon {
    width: 25px;
    height: 25px;
  }
  .projectShowcase-icons-box-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(var(--icon-box-width), 1fr));
  }
}
/* Smartphone small */
@media screen and (max-width: 400px) {
  .projectShowcase-icons-box-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .icons-box {
    flex-direction: row;
    padding: 5px;
    p{
      padding: 10px;
      font-weight: 400;
      text-align: start;
    }
    a {
      padding: 10px;
      font-weight: 400;
      text-align: start;
    }
  }

  .projectShowcase-icon {
    width: 25px;
    height: 25px;
  }
}
