:root {
  --box-bg-color-grey: #515151;
  --box-bg-color-dark-grey: #1c1c1c;
  --box-bg-color-selected: var(--ln-gradient-primary);
}

.project-gallery {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 50px 20px 100px 20px;
  @media screen and (max-width: 400px) {
    margin: 20px 0px;
    
  }
  &__heading {
    color: var(--font-color-dark);
    margin-bottom: 50px;
    font-size: clamp(2.5rem, 1vw, 5rem);
  
  }

  &__grid {
    display: flex;
    gap: 2em;
    width: 100%; 
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }

  &__item {
    user-select: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font-color-light);
    background-color: var(--primary-color);
    box-shadow: 0px 0px 5px 0px var(--shadow-color);
    width: calc(20vw + 150px);
    height: calc(15vw + 120px);
    max-width: 350px;
    max-height: 170px;
    min-width: 100px;
    min-height: 50px;
    border-radius: var(--border-radius-box-outer);
    transition: var(--transition);
    
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }

    > img {
      max-width: 130px;
  
      height: 100%;
      object-fit: cover;
      border-radius: var(--border-radius-box-outer);
    }
    
  
  }
  &__title{
    user-select: none;
    font-weight: bold;
    color: var(--font-color-light);
    font-size: 1.25rem;
  }
  &__box{
    padding: 10px;
  }
  &__arrows{
    position: absolute;
    top:0;
    left:0;
  }

@media screen and (max-width: 768px) {
  &__grid {
    flex-direction: column;
    gap: 1em;
    width: unset;
    margin: 20px;
  }

  &__item {
    width: 100%;
  }
}
}
