@import url("https://fonts.googleapis.com/css2?family=Gruppo&family=Megrim&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap");
:root {
  --bg-color-body: #F5F5F5;
  --bg-color-dark: #1e1e1e;
  --bg-color-project-showcase: #202020;
  --bg-color-navbar: #242424;
  --bg-color-figcaption: #353535;
  --bg-color-burger-menu: #242424;
  --bg-color-btn: #343434;
  --bg-color-notice: #353535;
  --shadow-color: #101010;
  --primary-color: #1e1e1e;
  --secondary-color: #D21E3C;
  --font-color-light: #F5F5F5;
  --font-color: #c2c2c2;
  --font-color-dark: #1e1e1e;
  --border-color: #4a4a4a;
  --border-radius-box-outer: 20px;
  --border-radius-box-inner: 10px;
  --link-color: #ececec;
  --link-color-hover: #b3b3b3;
  --transition: all 0.3s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--font-color-dark);
  min-width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #eaeaea;
  /* background-image: url("../../images/BackgroundGrey.svg");
  background-repeat: repeat;
  background-size: 45px 20px; */
}

* {
  font-family: "Poppins", "Roboto", "Helvetica", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 0.5em;
}

h1 {
  font-size: clamp(2rem, 2rem + (3rem - 2rem) * (100vw - 320px) / (1200px - 320px), 3rem);
}

h2 {
  font-size: clamp(1.75rem, 1.75rem + (2.5rem - 1.75rem) * (100vw - 320px) / (1200px - 320px), 2.5rem);
}

h3 {
  font-size: clamp(1.5rem, 1.5rem + (2rem - 1.5rem) * (100vw - 320px) / (1200px - 320px), 2rem);
}

h4 {
  font-size: clamp(1.25rem, 1.25rem + (1.75rem - 1.25rem) * (100vw - 320px) / (1200px - 320px), 1.75rem);
}

h5 {
  font-size: clamp(1rem, 1rem + (1.5rem - 1rem) * (100vw - 320px) / (1200px - 320px), 1.5rem);
}

h6 {
  font-size: clamp(0.875rem, 0.875rem + (1.25rem - 0.875rem) * (100vw - 320px) / (1200px - 320px), 1.25rem);
}

p {
  margin-bottom: 1em;
}
@media (max-width: 768px) {
  p {
    font-size: 0.75rem;
  }
}

a {
  color: var(--font-color-dark);
  text-decoration: underline;
  transition: color 0.3s ease-in-out;
}
a:hover {
  color: var(--secondary-color);
}
@media (max-width: 768px) {
  a {
    font-size: 0.75rem;
  }
}

ul, ol {
  margin-bottom: 1em;
  padding-left: 1.5em;
}
@media (max-width: 768px) {
  ul, ol {
    font-size: 0.75rem;
  }
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

figcaption {
  font-size: 0.75rem;
  text-align: center;
}
@media (max-width: 768px) {
  figcaption {
    font-size: 0.5rem;
  }
  figcaption * {
    font-size: 0.5rem;
  }
}

.circle__animation {
  animation: Rotate 4s ease-in-out infinite;
}

.arrows__animation {
  animation: scale infinite ease-in-out;
  /* transform-origin: center; */
}

.notice {
  border: 2px solid var(--border-color);
  border-radius: var(--border-radius-box-inner);
  background-color: var(--bg-color-notice);
  padding: 15px !important;
  position: relative;
  display: flex;
  flex-direction: column;
}
.notice__date {
  text-align: right;
  font-size: 0.75rem;
  padding: 0;
  margin: 0;
  color: #5f5f5f;
}

:root {
  --scale-size-button-box: 1.3;
  --scale-size-svg: 1.3;
}

.navbar-wrapper {
  display: flex;
  opacity: 0;
  position: sticky;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 98;
  transform: translateY(100%);
  transition: var(--transition);
}

.navbar-wrapper.visible {
  opacity: 1;
  animation: navbarFadeIn 0.5s;
}

.navbar-wrapper.hidden {
  opacity: 0;
  animation: navbarFadeOut 0.5s;
}

.navbar-wrapper-show {
  display: flex;
}

.navbar-wrapper-hidden {
  display: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 10px;
  bottom: 40px;
  border-radius: 50%;
  border: 1px solid white;
  width: 40px;
  height: 40px;
  background: var(--button-mobile-menu);
  box-shadow: 0px 0px 10px white;
}

.navbar:hover {
  cursor: pointer;
}

#icon-mobile-menu {
  width: 100%;
  height: 100%;
  padding: 5px;
  fill: white;
  color: white;
}

.navbar-wrapper.visible {
  opacity: 1;
}

/* Medium desktops and laptops */
/* Tablets (Querformat) and small laptops */
@media screen and (max-width: 1000px) {
  .navbar-content {
    width: 95%;
  }
  .navbar {
    right: 20px;
  }
}
/* Tablets (Hochformat) and larger smartphones */
/* Small smartphones and small devices */
@media screen and (max-width: 600px) {
  .navbar-content {
    display: none;
  }
  .navbar-smartphone {
    display: flex;
  }
}
.socials {
  display: flex;
  width: 100%;
}
.socials__icon {
  padding: 2px;
}
.socials__icon:not(:first-child) {
  margin-left: 5px;
}

canvas {
  width: 100%;
  height: 100%;
  background: #111;
}

figcaption {
  text-align: center;
}

video {
  width: 100%;
  height: auto;
  margin: 0;
  -o-object-fit: fill;
     object-fit: fill;
}

*::-moz-selection {
  background: var(--secondary-color);
  color: var(--font-color-light);
}

*::selection {
  background: var(--secondary-color);
  color: var(--font-color-light);
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;
  min-height: 100dvh;
  position: relative;
  background-color: var(--bg-color-body);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 1200px) {
  .layout {
    width: 100%;
  }
}

.footer__wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 100%;
  margin-top: 50px;
}
.footer__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
  padding: 0px 10px;
}
@media screen and (max-width: 1024px) {
  .footer__content {
    padding: 10px;
    margin-bottom: 0px;
  }
}
@media (max-width: 600px) {
  .footer__content {
    font-size: 0.75rem;
  }
}
@media (max-width: 400px) {
  .footer__content {
    font-size: 0.6rem;
  }
}
.footer__copyright {
  display: flex;
}
.footer__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: start;
  width: 100%;
}
.footer__links > a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 10px 0px 0;
  font-size: 1rem;
}
@media (max-width: 600px) {
  .footer__links > a {
    font-size: 0.75rem;
  }
}
@media (max-width: 400px) {
  .footer__links > a {
    font-size: 0.6rem;
  }
}
.footer__links > a:after {
  content: "";
  height: 75%;
  margin-left: 10px;
  width: 1px;
  background-color: var(--bg-color-dark);
}
.footer__links > a:last-of-type::after {
  width: 0px;
}
.footer__icon-up {
  width: 100%;
  height: 100%;
  color: var(--font-color-light);
}
.footer__btn-up-nav {
  max-width: 30px;
  width: 100%;
  max-height: 30px;
  height: 100%;
  padding: 5px;
  margin: 10px 10px 10px 0px;
  border: none;
  background-color: var(--bg-color-dark);
  border-radius: 10px;
  transition: var(--transition);
}
.footer__btn-up-nav:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.header {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  transition: var(--transition);
}
@media screen and (max-width: 768px) {
  .header {
    position: fixed;
  }
}
.header__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--bg-color-dark);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 768px) {
  .header__background {
    background-color: unset;
  }
}
.header__content {
  transition: var(--transition);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  border-color: transparent;
}
.header__content-box {
  background-color: var(--bg-color-dark);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .header__content-box {
    box-shadow: 0px 0px 10px 0px var(--shadow-color);
  }
}
.header__logo-wrapper {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
}
@media screen and (max-width: 400px) {
  .header__logo-wrapper {
    width: 80%;
  }
}
.header__logo-text {
  color: var(--font-color-light);
  font-family: "Jura", serif;
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  font-weight: 800;
  margin-left: 10px;
  max-width: 250px;
  width: 100%;
  transition: var(--transition);
}
.header__logo-text--light {
  color: var(--font-color-light);
}
.header__logo-box {
  display: flex;
  align-items: center;
}
.header__logo-box > a {
  padding: 0px;
  margin: 0px;
}
.header__logo {
  width: 45px;
  height: 45px;
  transition: var(--transition);
}
@media screen and (max-width: 400px) {
  .header__logo {
    width: 35px;
    height: 35px;
  }
}
.header__logo:hover {
  cursor: pointer;
  scale: 1.1;
  transition: var(--transition);
}
.header__nav-box {
  display: flex;
}
.header__nav-box > a {
  font-family: "Jura", serif;
  font-size: clamp(0.9rem, 2vw, 1.5rem);
  border-radius: var(--border-radius-box-outer);
  background-color: transparent;
  padding: 10px;
  margin: 10px;
  color: var(--font-color-light);
  position: relative;
  transition: var(--transition);
  text-decoration: none;
  text-wrap: nowrap;
}
.header__nav-box > a:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
  color: var(--font-color-light);
}
.header__nav-box-mobile {
  background-color: var(--bg-color-dark);
  opacity: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  animation: fadeIn 0.5s ease forwards;
}
.header__nav {
  font-size: var(--fs-300);
  padding: 20px;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  color: var(--font-color-light);
  text-decoration: none;
}
.header__nav:nth-child(1) {
  border-top: 1px solid var(--border-color);
}
.header__nav-box-mobile-hidden {
  animation: fadeOut 0.5s ease forwards;
}

.body-no-scroll {
  overflow-y: hidden;
  scrollbar-width: 0px;
}

.menu-icon {
  position: fixed;
  right: 20px;
  width: 30px;
  height: 30px;
  color: var(--font-color-light);
  transition: var(--transition);
}

.fa-bars {
  opacity: 1;
  transform: rotate(0deg);
}
.fa-bars--hidden {
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transform: rotate(180deg);
}

.fa-close {
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.fa-close--active {
  opacity: 1;
  -webkit-user-select: all;
     -moz-user-select: all;
          user-select: all;
  transform: rotate(180deg);
}

.aboutme {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 50px 0px;
}
.aboutme__headline {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: clamp(2.5rem, 1vw, 5rem);
  margin-bottom: clamp(0.2em, 1vw, 0.5em);
  padding: 0px 10px;
}
.aboutme__headline--highlight {
  color: var(--secondary-color);
}
.aboutme__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.aboutme__introduction {
  background-color: var(--bg-color-dark);
  border-radius: var(--border-radius-box-outer);
  color: var(--font-color-light);
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 25px 50px 50px 50px;
}
.aboutme__introduction > p {
  padding: 10px 20px;
  margin-bottom: 0px;
}
@media screen and (max-width: 600px) {
  .aboutme__introduction {
    padding: 20px 0;
    margin: 0px 20px 20px 20px;
  }
  .aboutme__introduction::after {
    display: none;
  }
}
.aboutme__text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutme__text > p {
  padding: 10px 20px;
  margin-bottom: 0px;
}
.aboutme__text > img {
  border-radius: var(--border-radius-box-outer);
  width: 250px;
  height: 100%;
  margin: 10px;
}
@media screen and (max-width: 768px) {
  .aboutme__text > img {
    width: 200px;
  }
}
@media screen and (max-width: 600px) {
  .aboutme__text {
    flex-direction: column;
  }
}
.aboutme__skills-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}
@media screen and (max-width: 600px) {
  .aboutme__skills-list {
    padding: 20px 0;
    margin: 0px;
  }
}
.aboutme__skills-item {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--bg-color-dark);
  border-radius: var(--border-radius-box-outer);
  margin: 10px 20px;
  transition: var(--transition);
}
.aboutme__skills-item strong {
  color: var(--font-color-light);
}
.aboutme__skills-item span {
  transition: var(--transition);
  color: var(--font-color-light);
}
.aboutme__skills-item:hover {
  transform: translateY(-5px);
}
.aboutme__skills-item:hover span {
  color: var(--secondary-color);
}
.aboutme__socials {
  justify-content: center;
}
.aboutme__arrows {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.aboutme__seperator {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100px;
  background: var(--secondary-color);
  overflow: hidden;
}
.aboutme__arrows-seperator {
  position: absolute;
  overflow: hidden;
  z-index: 200;
}

.contact-wrapper {
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*    width: 100%; */
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact-form input {
  color: var(--font-color-light);
  background-color: var(--bg-color-projectShowcase);
  font-size: var(--fs-150);
  margin-bottom: 20px;
  border-radius: var(--border-radius-box-inner);
  border: 2px solid var(--border-color);
  padding: 10px;
}

.contact-form input:focus {
  outline: none;
  border: 1px solid var(--primary-color);
  box-shadow: 0 0 10px #719ECE;
}

.contact-form textarea {
  color: var(--font-color-light);
  background-color: var(--bg-color-projectShowcase);
  font-size: var(--fs-150);
  margin-bottom: 20px;
  border-radius: var(--border-radius-box-inner);
  border: 2px solid var(--border-color);
  padding: 10px;
}

.contact-form textarea:focus {
  outline: none;
  border: 1px solid var(--primary-color);
  box-shadow: 0 0 10px #719ECE;
}

.contact-form button {
  color: var(--font-color-light);
  background: var(--ln-gradient-primary);
  font-size: var(--fs-150);
  margin-bottom: 20px;
  border-radius: var(--border-radius-box-inner);
  border: none;
  padding: 10px 20px 10px 20px;
  width: -moz-fit-content;
  width: fit-content;
  transition: var(--transition);
}

.contact-form button:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.723);
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
  max-width: 1000px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .project {
    padding: 20px 20px;
  }
}
.project p,
.project h3,
.project h4,
.project h5 {
  width: 100%;
}
.project__title {
  font-size: clamp(1.25rem, 3vw, 1.5rem);
}
.project__logo {
  margin: 10px 0;
  width: 250px;
  height: 250px;
  fill: #dfd1c9;
}
.project__figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
.project__figure img {
  border-radius: var(--border-radius-box-inner);
  width: 100%;
}
.project__figure figcaption {
  color: var(--font-color-light);
  padding: 5px 10px;
  background-color: var(--bg-color-figcaption);
  border-radius: 0 0 var(--border-radius-box-inner) var(--border-radius-box-inner);
}
@media screen and (max-width: 600px) {
  .project__figure {
    padding: 10px;
  }
}
@media screen and (max-width: 400px) {
  .project__figure {
    padding: 0;
  }
}
.project__video {
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  margin: 10px 0;
}
.project__video video {
  width: 100%;
  border-radius: var(--border-radius-box-inner);
  border: 2px solid var(--border-color);
}
.project__video video:hover {
  filter: brightness(50%);
  cursor: pointer;
}
.project__image-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 10px 0;
}
.project__list {
  width: 100%;
}
.project__button {
  width: 100px;
  height: 50px;
  color: var(--font-color-light);
  border: 2px solid var(--border-color);
  background-color: var(--bg-color-btn);
  border-radius: var(--border-radius-button);
  transition: var(--transition);
}
.project__button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.project #unity-container {
  border-radius: var(--border-radius-box-inner);
}
@media screen and (max-width: 1000px) {
  .project #unity-game {
    display: none;
  }
}

.project-gallery {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px 20px 100px 20px;
  overflow: hidden;
  z-index: 1;
}
@media screen and (max-width: 400px) {
  .project-gallery {
    margin-bottom: 20px;
  }
}
.project-gallery__heading {
  color: var(--font-color-dark);
  margin-bottom: 50px;
  font-size: clamp(2.5rem, 1vw, 5rem);
  width: 100%;
  text-align: center;
}
.project-gallery__grid {
  display: flex;
  gap: 3em;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 20px;
}
@media screen and (max-width: 768px) {
  .project-gallery__grid {
    gap: 1em;
    margin: 20px;
  }
}
.project-gallery__item {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--font-color-light);
  background-color: var(--primary-color);
  box-shadow: 0px 0px 5px 0px var(--shadow-color);
  max-width: 400px;
  width: 100%;
  height: 300px;
  border-radius: var(--border-radius-box-outer);
  transition: var(--transition);
  z-index: 99;
}
.project-gallery__item:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.project-gallery__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--border-radius-box-outer) var(--border-radius-box-outer) 0 0;
  border-bottom: 1px solid var(--secondary-color);
}
.project-gallery__title {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-weight: bold;
  color: var(--font-color-light);
  font-size: clamp(1rem, 4vw, 1.25rem);
}
.project-gallery__box {
  text-align: center;
  padding: 10px;
}
.project-gallery__box > p {
  font-size: clamp(0.8rem, 4vw, 1rem);
}
.project-gallery__arrows {
  position: absolute;
  z-index: -1;
}

.project-showcase {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
  padding: 20px 0px;
  background-color: var(--bg-color-project-showcase);
  border-radius: var(--border-radius-box-outer);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
  margin: 20px;
  color: var(--font-color-light);
}
@media screen and (max-width: 400px) {
  .project-showcase {
    margin: 20px 0px;
    border-radius: 0px;
  }
}
.project-showcase__headline {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: clamp(2.5rem, 1vw, 5rem);
  margin-bottom: clamp(0.5em, 1vw, 0.5em);
  padding: 10px;
  text-wrap: wrap;
}
.project-showcase__icons-box-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  overflow-wrap: break-word;
}
@media screen and (max-width: 400px) {
  .project-showcase__icons-box-wrapper {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px 25px;
  }
}
.project-showcase__icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-color-light);
  padding: 10px;
  background-color: var(--bg-color-showcase);
  border-radius: var(--border-radius-box-inner);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
  transition: var(--transition);
}
@media screen and (max-width: 400px) {
  .project-showcase__icon-box {
    padding: 5px;
  }
}
.project-showcase__icon-box:hover {
  transform: translateY(-5px);
  background-color: var(--icon-box-bg-color-selected);
}
.project-showcase__icon-box > a {
  color: var(--font-color-light);
  padding: 10px;
}
.project-showcase__icon-box > a:hover {
  color: var(--secondary-color);
}
@media (max-width: 400px) {
  .project-showcase__icon-box > a {
    font-size: 0.6rem;
  }
}
.project-showcase__icon-box > span {
  padding: 5px;
}
@media (max-width: 768px) {
  .project-showcase__icon-box > span {
    font-size: 0.75rem;
  }
}
@media (max-width: 400px) {
  .project-showcase__icon-box > span {
    font-size: 0.6rem;
  }
}
.project-showcase__icon {
  width: 30px;
  height: 30px;
  padding: 5px;
  color: white;
}
@media screen and (max-width: 400px) {
  .project-showcase__icon {
    width: 20px;
    height: 20px;
  }
}
.project-showcase__project {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.project-showcase__project > div {
  width: 100%;
}

.hero {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.hero__container {
  display: flex;
}
@media screen and (max-width: 768px) {
  .hero__container {
    flex-direction: column;
  }
}
.hero__image-box {
  border-radius: 100%;
  width: 350px;
  height: 350px;
  z-index: 99;
  transition: var(--transition);
  overflow: hidden;
}
.hero__image-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__image-box:hover {
  cursor: pointer;
  transform: scale(1.05);
}
@media screen and (max-width: 400px) {
  .hero__image-box {
    width: 250px;
    height: 250px;
  }
}
.hero__greeting {
  width: 100%;
  text-wrap: wrap;
  font-size: clamp(2.5rem, 6vw, 5rem);
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .hero__greeting {
    font-size: clamp(3.5rem, 10vw, 5rem);
    padding: 0px 10px;
  }
}
@media screen and (max-width: 400px) {
  .hero__greeting {
    font-size: clamp(2rem, 10vw, 5rem);
  }
}
.hero__content {
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  width: 100%;
  margin: 20px;
}
@media screen and (max-width: 768px) {
  .hero__content {
    margin: 0px;
  }
}
.hero__box {
  position: relative;
  display: block;
  margin-bottom: 75px;
}
@media screen and (max-width: 768px) {
  .hero__box {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
  }
}
.hero__description {
  font-size: clamp(0.9rem, 2vw, 1rem);
}
@media screen and (max-width: 768px) {
  .hero__description {
    text-align: center;
    padding: 20px;
    background-color: var(--secondary-color);
    color: var(--font-color-light);
  }
}
.hero__name {
  font-size: clamp(1rem, 3vw, 2rem);
  margin-bottom: 30px;
  font-weight: bold;
  transition: var(--transition);
}
.hero__name--highlight {
  color: var(--secondary-color);
}
@media screen and (max-width: 768px) {
  .hero__name {
    font-size: clamp(2rem, 3vw, 5rem);
    padding: 0px 10px;
  }
}
@media screen and (max-width: 400px) {
  .hero__name {
    font-size: clamp(1.25rem, 3vw, 3rem);
  }
}
.hero__button {
  position: relative;
  background: transparent;
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  padding: 10px 20px;
  margin: 20px 0px;
  font-weight: 500;
  color: var(--font-color-dark);
  transition: var(--transition);
  border-radius: var(--border-radius-box-outer);
  overflow: hidden;
  border: 2px solid var(--font-color-dark);
}
.hero__button:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: var(--font-color-light);
  border: 2px solid var(--font-color-light);
}
.hero__button:hover::after {
  left: 0;
}
.hero__button::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color-dark);
  z-index: -1;
  transition: var(--transition);
}
@media screen and (max-width: 768px) {
  .hero__button {
    margin: 35px 0px;
  }
}
.hero__icon {
  display: inline-block;
  animation: wave 0.5s ease-in-out 2;
}
.hero__seperator {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100px;
  background: var(--secondary-color);
}
.hero__arrows {
  position: absolute;
  overflow: hidden;
  z-index: 0;
}
.hero__arrows-seperator {
  position: absolute;
  overflow: hidden;
  z-index: 99;
}

@keyframes UpAndDown {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}
@keyframes navbarFadeIn {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes navbarFadeOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(20px);
  }
}
@keyframes scaleUp {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes drop {
  0% {
    top: 0%;
  }
  100% {
    top: 100%;
  }
}
@keyframes flow {
  0% {
    left: -20%;
  }
  100% {
    left: 120%;
  }
}
@keyframes MoveRightAndLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes Rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(5px, 5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.placeholder__header {
  height: 100px;
  width: 100%;
}
.placeholder__content {
  height: 50px;
  width: 100%;
}/*# sourceMappingURL=main.css.map */