/* .nav-box {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.nav-box-inner {
  display: flex;
}

.nav-arrow {
  width: 50px;
  transition: 1s;
}
.rotate {
  transform: rotate(180deg);
}

@media screen and (max-width: 768px) {
  .nav-arrow {
    width: 30px;
    height:30px;
    padding: 2px;
    background-color: var(--link-color);
    border-radius: 50%;
  }
} */