.project-box {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  flex: 1 1 0px;
  width: 850px;
}
.project-button {
  width: 100px;
  height: 50px;
  font-weight: lighter;
  font-size: var(--fs-100);
  text-decoration: none;
  border: none;
  border-radius: var(--border-radius-button);
}
.project-button:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
  color: var(--font-color);
}
.project-content-box {
  display: flex;
  flex: 1 1 0px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.project-image-box {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
  justify-content: center;
  flex-direction: row;
  flex: 1 1 0px;
  width: 100%;
}
.project-figure {
  text-align: center;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-figure img {
  display: block;
  border-radius: var(--border-radius-box-inner);
  width: 100%;
}
.project-figure figcaption {
  color: var(--font-color);
  font-size: var(--fs-100);
  font-weight: 100;
  width: auto;
  padding: 5px 10px 5px 10px;
  background-color: var(--bg-color-figcaption);
  border-radius: 0 0 var(--border-radius-box-inner)
    var(--border-radius-box-inner);
}
.project-description {
  flex: 1 1 0px;
  font-size: var(--fs-100);
}

.project-subheader {
  margin: 10px 0px 10px 0px;
  font-size: var(--fs-200);
}
.project-video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.project-video video {
  flex: 1 1 0px;
  width: 100%;
  border-radius: var(--border-radius-box-inner);
  border: 1px solid var(--primary-color);
}
.project-video video:hover {
  filter: brightness(75%);
  border: 1px solid var(--secondary-color);
  cursor: pointer;
}
/* .project-figcaption {
  font-size: 18px;
  text-align: center;
  background-color: aliceblue;
} */
.project-image {
  flex: 1 1 0px;
  flex-basis: 0px;
  object-fit: fill;
  padding: 10px;
  width: 100%;
}
.project-image img {
  border-radius: var(--border-radius-box-inner);
}
.project-list {
  font-size: var(--fs-100);
  margin: 10px 0px 10px 10px;
}
.project-game {
  scroll-snap-align: start;
}
#unity-container {
  border-radius: var(--border-radius-box-inner);
}
/* Tablets (Querformat) and small laptops */
@media screen and (max-width: 1000px) {
  .project-box {
    flex-direction: column;
    width: 80%;
  }
  .project-game {
    display: none;
  }
}
/* Tablet */
@media screen and (max-width: 768px) {

}
/* Smartphone */
@media screen and (max-width: 600px) {
  .project-box {
    width: 100%;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
  }

  .project-game {
    display: none;
  }
  .project-description {
    font-size: var(--fs-small);
    width: 100%;
  }
  .project-video {
    width: 100%;
  }
  .project-image {
    width: 100%;
  }
  .project-list {
    font-size: var(--fs-small);
  }
  .project-figcaption {
    font-size: var(--fs-small);
  }
  .project-figure figcaption {
    font-size: var(--fs-small);
  }
  .project-subheader {
    font-size: var(--fs-100);
    font-weight: bold;
  }
  .project-image-box {
    align-items: center;
    flex-direction: column;
  }
}
