.project_box{

    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(550px, max-content ));
    flex-direction: row;
    margin: 50px 150px 50px 150px;
    /*background-image: url( 'C:/Users/walde/webpage-waldemar/src/images/Blob.svg' );
    background-size: cover;
    overflow: hidden;*/
}

.project_image_box{
    display:flex;
    flex-direction: row;
    margin:0px auto;
}
.project_description{
    margin: 0px 50px 20px 0px;
  
    font-size:18px;
}

.project_headline{
    font-size: 60px;
    width: 100%;
    font-weight: 200;
    margin: 0 0 10px 150px;

  }
  .project_subheader{
    margin: 10px 0px 10px 0px;
    font-size: 24px;
    font-weight: 400;
    font-style: italic;
  }

.project_video{
    height: auto;
  width: 100%;
  object-fit: fill;
  margin: 0px 0px 0px 0px;
  text-align: center;
}
.project_image{

  object-fit: fill;
  margin: 20px 0px 0px 0px;
}
.project_list{
    font-size: 18px;
    margin: 10px 0px 0px 20px;
}

.project_svg{
    width: 80px;
    height: auto;
  }
  .project_svg_box{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
  }
  .project_svg_line{
    display:grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, max-content ));
    justify-content: start;
    align-items: center;
    width: 100%;
    margin: 10px 0 0px 150px;
  }
  .project_svg_text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  .project_svg_color{
    filter: invert(48%) sepia(79%) saturate(2000%) hue-rotate(180deg) brightness(118%) contrast(119%);
  }
/* Smartphone */
@media screen and (max-width: 768px) and (min-width: 522px){
    .project_subheader{
        font-size: 22px;
    }
    .project_description{
        margin: 20px;
        font-size: 16px;
    }
    
    .project_box{
        width: 100%;
        margin: 0px;
        grid-template-columns: repeat(auto-fit, minmax(450px, max-content ));
    }
    .project_video{
         
        margin: 0px;
    }
    
    .project_image_box{
        margin: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .project_list{
        font-size: 16px;
        margin: 10px 0px 0px 20px;
    }
    .project_headline{
        margin: 0px;
        text-align: center;
        font-size: 52px; 
      }
    .project_svg_line{

        grid-template-columns: repeat(auto-fit, minmax(450px, max-content ));
        margin: 50px 25px 0px 25px;
      }
      .project_svg_box{
        margin: 0px 5px 0px 5px;
      }
      .project_svg_text{
        margin: 0px 5px 0px 5px;
        font-size: 16px;
      }
   
}

/* Smartphone */
@media screen and (max-width: 522px) {
    .project_subheader{
        font-size: 22px;
    }
    .project_description{
        margin: 10px;
        font-size: 16px;
    }
    
    .project_box{
        width: 100%;
        margin: 0px;
        grid-template-columns: repeat(auto-fit, minmax(300px, max-content ));
    }
    .project_video{
         width: 100%;
        margin: 20px 0px 0px 0px;
    }
  
    .project_image_box{
        margin: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .project_list{
        font-size: 16px;
        margin: 10px 0px 0px 20px;
    }
    .project_headline{
        margin: 0px;
        text-align: center;
        font-size: 52px; 
      }
    .project_svg_line{

        grid-template-columns: repeat(auto-fit, minmax(150px, max-content ));
        margin: 20px 0px 20px 0px;
      }
      .project_svg_box{
        margin: 0px 5px 0px 5px;
      }
      .project_svg_text{
        margin: 0px 5px 0px 5px;
        font-size: 16px;
      }
   
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
        .project_description{
            margin: 20px 20px 20px 20px;
          
            font-size:18px;
        }
       
        .project_image_box{
            margin: 20px 20px 20px 20px;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .project_box{
            grid-template-columns: repeat(auto-fit, minmax(400px, max-content ));
            margin: 20px 20px 20px 20px;
        }
        .project_video{
            margin: 20px 0px 20px 0px;
        }.project_headline{
            margin: 0px;
            text-align: center;
            font-size: 52px; 
          }
        .project_svg_line{
    
            grid-template-columns: repeat(auto-fit, minmax(250px, max-content ));
            justify-content: center;
        align-items: center;
        margin: 20px 20px 0px 20px;
          }
          .project_svg_box{
            margin: 0px 5px 0px 5px;
          }
          .project_svg_text{
            margin: 0px 5px 0px 5px;
            font-size: 16px;
          }
}

/* Desktop */
@media screen and (max-width: 1450px) and (min-width: 1024px) {
    .project_headline{
        margin: 0px;
        text-align: center;
        font-size: 52px; 
      }
      .project_svg_line{
    
        grid-template-columns: repeat(auto-fit, minmax(250px, max-content ));
        justify-content: center;
        align-items: center;
        margin: 0px 0px 20px 0px;
      }
    .project_box{
        grid-template-columns: repeat(auto-fit, minmax(400px, max-content ));
        margin: 20px 20px 20px 20px;
    }
   
    .project_image_box{
        margin: 20px 20px 20px 20px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .project_description{
        margin: 20px 20px 20px 20px;
      
        font-size:18px;
    }
  
}