:root {
  --padding-bottom-title: 5px;
  --padding-top-title: 5px;
}
#yoga-logo{
  width: 250px;
  height: 250px;
  fill: #DFD1C9;
}
.project-content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-box {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 25px 10px;
  width: 90%;
}
.project-box h3 {
  padding-bottom: var(--padding-bottom-title);
  padding-top: var(--padding-top-title);
}

.project-box h4 {
  padding-bottom: var(--padding-bottom-title);
  padding-top: var(--padding-top-title);
}
.project-box h5 {
  padding-bottom: var(--padding-bottom-title);
  padding-top: var(--padding-top-title);
}
.project-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 0px;
  font-size: var(--fs-100);
}
.project-description p {
  padding: 10px 0px 10px 0px;
}
.project-description h3 {
  width: 100%;
  padding-bottom: var(--padding-bottom-title);
}
.project-description h4 {
  width: 100%;
  padding-bottom: var(--padding-bottom-title);
}
.project-description h5 {
  width: 100%;
  padding-bottom: var(--padding-bottom-title);
}
.project-figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.project-figure img {
  border-radius: var(--border-radius-box-inner);
  width: 100%;
}
.project-figure figcaption {
  color: var(--font-color-light);
  font-size: var(--fs-100);
  padding: 5px 10px 5px 10px;
  background-color: var(--bg-color-figcaption);
  border-radius: 0 0 var(--border-radius-box-inner)
    var(--border-radius-box-inner);
}

.project-video {
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.project-video video {
  width: 100%;
  border-radius: var(--border-radius-box-inner);
  border: 2px solid var(--border-color);
}
.project-video video:hover {
  filter: brightness(50%);
  cursor: pointer;
}

.project-image-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.project-list {
  width: 100%;
  margin: 10px 0px 10px 10px;
}
.project-button {
  width: 100px;
  height: 50px;
  font-size: var(--fs-100);
  color: var(--font-color-light);
  border: 2px solid var(--border-color);
  background-color: var(--bg-color-btn);
  border-radius: var(--border-radius-button);
  transition: all 0.7s;
}
.project-button:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.723);
}
#unity-container {
  border-radius: var(--border-radius-box-inner);
}
/* Tablets (Querformat) and small laptops */
@media screen and (max-width: 1000px) {
  #unity-game {
    display: none;
  }
}
/* Tablet */
@media screen and (max-width: 768px) {
}
/* Smartphone */
@media screen and (max-width: 600px) {
  .project-box {
    width: 95%;
  }
  .project-figure {
    padding: 10px;
  }
}
/* Smartphone small */
@media screen and (max-width: 400px) {
  .project-figure {
    padding: 0px;
  }
  .project-description {
    font-size: var(--fs-75);
  }
  .project-list {
    font-size: var(--fs-75);
  }
  .project-figcaption {
    font-size: var(--fs-75);
  }
  .project-figure figcaption {
    font-size: var(--fs-75);
  }
}
