.sections-box {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}
.sections-box-showcase {
  display: grid;
  width: 1000px;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
  justify-content: center;
  align-content: center;
}
.sections-box-showcase a{
  text-decoration: none;
}
.sections-showcase-text {
  font-size: 28px;
  padding: 10px;

  background-color: transparent;
  text-shadow: 0.1vw 0.1vw 0.4vw #000000;
  overflow-wrap: break-word;
  user-select: none;
  text-align: center;
}

.sections-project-box {
  color: var(--font-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 175px;
  margin: 0px;
  border-radius: var(--border-radius-box-outer);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  transition-duration: 1s;
  background: radial-gradient(var(--button-section-bg-color),var(--button-section-bg-color2));
}
.sections-project-box:hover {
  cursor: pointer;
  background: radial-gradient(var(--secondary-color) ,var(--button-section-bg-color2));
  transform: scale(1.1);
}
.sections-headline {
  font-size: 5vw;
  margin-bottom: 50px;
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .sections-box {
    /* height:auto; */
    width: 100%;
    padding: 10px;
  }
  .sections-box-showcase {
    width: 90%;
  }
  .sections-headline {
    font-size: 8vw;
  }
}

/* Smartphone */
@media screen and (max-width: 768px) {
  .sections-box {
    height: auto;
    width: 100%;
    padding: 10px;
    scroll-snap-align: none;
  }
  .sections-box-showcase {
    width: 100%;
  }
  .sections-headline {
    font-size: 10vw;
  }
}
