.showproject-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 5px;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.showproject-box-wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color-project-showcase);
  border-radius: var(--border-radius-box-outer);
  padding: 10px;
  width: 1000px;
  justify-content: center;
  align-content: center;
}

.showproject-icons-box {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: var(--border-radius-box-inner);
  padding: 5px;
}
.showproject-icon {
  width: 30px;
  height: 30px;
  color: white;
}
.showproject-icons-and-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.showproject-modul-headline {
  text-align: center;
  font-size: 60px;
}
.showproject-title-headline {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0px 10px 0px;
  color: var(--primary-color);
}

.showproject-icons-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .showproject-box {
    scroll-snap-align: none;
    margin: 0px;
  }
  .showproject-box-wrapper {
    width: 80%;
    padding:10px;
  }
  .showproject-icons-box {
    grid-template-columns: repeat(auto-fit, minmax(100px, max-content));

  }
}

/* Smartphone */
@media screen and (max-width: 768px) {
  .showproject-box {
    scroll-snap-align: none;
    max-width: 90%;
    margin: 20px;
  }
  .showproject-icons-and-text {
    justify-content: start;
  }
  .showproject-box-wrapper {
    padding: 10px;
    width: 90%;
  }
  .showproject-modul-headline {
    font-size: 40px;
  }
  .showproject-title-headline {
    font-size: 32px;
  }
  .showproject-icons-text {
    font-size: 20px;
  }
}
