:root {
  --scale-size-button-box: 1.3;
  --scale-size-svg: 1.3;
}
.sidemenu {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  font-size: 20px;
  text-align: center;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -230px;
  transition: left 1s;
}

.sidemenu.visible {
  left: 0px;
}
.sidemenu.hide {
  left: -230px;
}
.sidemenu.hide-button {
  left: -200px;
}
.sidemenu.hide.hide-button {
  left: -230px;
}
.sidemenu-container {
  width: 200px;
  border-radius: 0 var(--border-radius-box-outer) var(--border-radius-box-outer) 0;
  background-color: var(--bg-color-sidemenu);
}

.sidemenu-container ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 20px;
  gap: 10px;
}

.sidemenu-container li {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  padding: 20px;
  border-radius: var(--border-radius-box-inner);
  background-color: var(--button-sidemenu-section-bg-color);
  height:100px;
  min-width: 100%;
}
.sidemenu li:hover {
  filter: brightness(50%);
  background-color: var(--secondary-color);
  background: radial-gradient(closest-corner,var(--secondary-color),var(--button-section-bg-color2));
  cursor: pointer;
}

.sidemenu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 50px;
  background-color: var(--bg-color-sidemenu);
  border-radius: 0px var(--border-radius-box-outer)
    var(--border-radius-box-outer) 0px;
  border-style: none;
  transition: 1s;
}
.sidemenu-button:hover {
  transform: scale(var(--scale-size-button-box));
  cursor: pointer;
  /* Change color and scale up the size for the svg */
  .sidemenu-button-svg {
    transform: scale(var(--scale-size-svg));
    color: var(--secondary-color);
  }
}

.sidemenu-button-svg {
  width: 20px;
  height: 30px;
  color: var(--primary-color);
  rotate: 0deg;
  transition: rotate 0.6s;
  transition: 1s;
}

.sidemenu-button-svg.rotate-button {
  rotate: 180deg;
}

@media screen and (max-width: 1224px) {
  .sidemenu.visible {
    left: -230px;
  }
}
