.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.icon-box {
  position: relative;
  width: 10%;
  height: 10%;
  text-align: center;
  animation: UpAndDown 4s infinite ease-in-out;
}
.icon {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.icon-path {
  transition: opacity 1s ease;
}

.icon-gradient {
  transition: opacity 1s ease;
}

.icon:hover .icon-path {
  opacity: 0;
}

.icon:hover .icon-gradient {
  opacity: 1;
}

.svg-headline {
  width: 1200px;
  font-weight: 500;
}
.svg-headline text {
  user-select: none;
  font-size: var(--fs-headline);
  stroke-width: 1;
  letter-spacing: -6px;
}
.svg-headline text.text-body {
  /* stroke:white; */
  animation: 10s infinite alternate AnimateStroke;
}
@media screen and (max-width: 1450px) {
  .svg-headline {
    width: 1000px;
  }
}
/* Tablets (Querformat) and small laptops */
@media screen and (max-width: 1000px) {
  .svg-headline {
    width: 700px;
  }
  .icon-box {
    width: 15%;
    height: 15%;
  }
}
/* Tablet */
@media screen and (max-width: 768px) {
  .svg-headline {
    width: 600px;
  }
  .icon-box {
    width: 15%;
    height: 15%;
  }
}

/* Smartphone */
@media screen and (max-width: 600px) {
  .mobile-startscreen {
    text-align: center;
    padding: 20px;
    background: radial-gradient(
      circle,
      rgba(87, 64, 236, 0.1),
      var(--bg-color-body)
    );
    border-radius: 10px;
    max-width: 90%;
    margin: auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-wrap: wrap;
  }
  .mobile-greeting {
    font-size: var(--fs-600);
    color: var(--font-color);
    margin-bottom: 15px;
  }

  /* Name */
  .mobile-name {
    font-size: var(--fs-300);
    animation: fadeIn 1s ease-out;
    animation-fill-mode: forwards;
  }

  .mobile-introduction {
    text-wrap: balance;
    font-size: var(--fs-300);
    color: var(--font-color);
    opacity: 0;
    animation: fadeIn 1s ease-out;
    animation-fill-mode: forwards;
    animation-delay: 1s;
  }

  .mobile-fun strong {
    opacity: 0;
    font-size: var(--fs-300);
    color: var(--secondary-color);
    text-shadow: 0px 0px 5px var(--secondary-color);
    animation: fadeIn 1s ease-out;
    animation-fill-mode: forwards;
    animation-delay: 2s;
  }
  .icon-box {
    position: relative;
    width: 20%;
    height: 20%;
    margin-bottom: 50px;
  }
}
