.startscreen-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
  width: 100%;
  padding: 0px 20px 20px 20px;
}
.startscreen-greeting {
  background: var(--ln-gradient-primary);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.startscreen-introduction-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
}
.startscreen-introduction-box p {
  text-align: center;
}
.startscreen-name {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
  background-color: var(--bg-color-figcaption);
  border-radius: var(--border-radius-box-outer);
  border: 1px solid var(--border-color);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  font-size: var(--fs-200);
  transition: all 0.7s;
}

.startscreen-description {
  font-size: var(--fs-150);
}
#startscreen-arrow {
  transform: rotate(-90deg);
  transition: all 0.7s;
}
.startscreen-button {
  font-size: var(--fs-200);
  background: var(--ln-gradient-primary);
  color: var(--font-color-light);
  border-radius: var(--border-radius-box-outer);
  border: none;
  max-width: 200px;
  max-height: 100px;
  padding: 10px 20px 10px 20px;
  margin: 50px;
  font-weight: 500;
  transition: all 0.7s;
}
.startscreen-button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.723);
  transform: scale(1.1);
}
.startscreen-button:hover > #startscreen-arrow {
  transform: rotate(0deg);
  font-size: larger;
}

@media screen and (max-width: 1450px) {
}
/* Tablets (Querformat) and small laptops */
@media screen and (max-width: 1000px) {
  .startscreen-introduction-box {
    width: 90%;
  }
}
/* Tablet */
@media screen and (max-width: 768px) {
  .startscreen-introduction-box {
    width: 95%;
  }
  #startscreen-arrow {
    transform: rotate(0deg);
  }
}

/* Smartphone */
@media screen and (max-width: 600px) {
  .startscreen-introduction-box {
    width: 100%;
  }
  .startscreen-description {
    font-size: var(--fs-150);
  }
}
