.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
  max-width: 1000px;
  width: 100%;

  @media screen and (max-width: 768px) {
    padding: 20px 20px;
  }
 /*  p,
  h3,
  h4,
  h5 {
    width: 100%;
  } */
  a {
    color: var(--font-color);
    &:hover {
      color: var(--accent-color);
    }
  }
  &__title {
    width: 100%;
    font-size: clamp(1.25rem, 3vw, 1.5rem);
  }
  &__text{
    width: 100%;
  }
  &__logo {
    margin: 10px 0;
    width: 250px;
    height: 250px;
    &--yoga {
      fill: var(--font-color);
    }
  }
  &__figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;

    img {
      border-radius: var(--border-radius-box-inner);
      width: 100%;
    }

    figcaption {
      color: var(--font-color);
      padding: 5px 10px;
      background-color: var(--bg-color-figcaption);
      border-radius: 0 0 var(--border-radius-box-inner)
        var(--border-radius-box-inner);
    }
    @media screen and (max-width: 600px) {
      padding: 10px;
    }
    @media screen and (max-width: 400px) {
      padding: 0;
    }
  }

  &__video {
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    margin: 10px 0;
    video {
      width: 100%;
      border-radius: var(--border-radius-box-inner);
      border: 2px solid var(--border-color);
      &:hover {
        filter: brightness(50%);
        cursor: pointer;
      }
    }
  }

  &__image-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 10px 0;
  }

  &__list {
    width: 100%;
  }

  &__button {
    width: 100px;
    height: 50px;
    color: var(--font-color);
    border: 2px solid var(--border-color);
    background-color: var(--bg-color-btn);
    border-radius: var(--border-radius-button);
    transition: var(--transition);

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  #unity-container {
    border-radius: var(--border-radius-box-inner);
  }

  @media screen and (max-width: 1000px) {
    #unity-game {
      display: none;
    }
  }
}
