@import url("https://fonts.googleapis.com/css2?family=Gruppo&family=Megrim&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto");

:root {
  --bg-color-body: #141414;
  --bg-color-project-showcase: #202020;
  --bg-color-navbar: #242424;
  --bg-color-figcaption: #353535;
  --bg-color-burger-menu: #242424;
  --bg-color-header: #242424db;
  --bg-color-btn: #343434;
  --shadow-color: #101010;
  --primary-color: #0f95fb;
  --secondary-color: #ff6347;
  --font-color-light: #f2f2f2;
  --font-color: #c2c2c2;
  --fs-headline: 5rem;
  --fs-700: 4rem;
  --fs-600: 3.5rem;
  --fs-500: 3rem;
  --fs-400: 2.5rem;
  --fs-300: 2rem;
  --fs-200: 1.5rem;
  --fs-150: 1.25rem;
  --fs-100: 1rem;
  --fs-75: 0.75rem;
  --fs-50: 0.5rem;
  --fs-25: 0.25rem;
  --border-color: #4a4a4a;
  --border-radius-button: 10px;
  --border-radius-box-outer: 20px;
  --border-radius-box-inner: 10px;
  --link-color: #ececec;
  --link-color-hover: #b3b3b3;
  --ln-gradient-primary: linear-gradient(var(--primary-color), #5629f6);
  --ln-gradient-secondary: linear-gradient(var(--secondary-color), #f6a829);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Roboto", "Helvetica", sans-serif;
}

html {
  background-color: var(--bg-color-body);
  font-size: 100%;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--font-color);
  min-width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background: radial-gradient(
    at top left,
    #292929 0%,
    var(--bg-color-body) 100vh
  );
}

canvas {
  width: 100%;
  height: 100%;
  background: #111;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: var(--fs-headline);
  color: var(--font-color-light);
}
h2 {
  font-size: var(--fs-500);
  color: var(--font-color-light);
}
h3 {
  font-size: var(--fs-300);
  color: var(--font-color-light);
}
h4 {
  font-size: var(--fs-150);
  color: var(--font-color-light);
  font-weight: 600;
}
h5 {
  font-size: var(--fs-75);
  color: var(--font-color-light);
  font-weight: 500;
}
h6 {
  font-size: var(--fs-75);
  color: var(--font-color-light);
  font-weight: 500;
}
p{
  font-size: var(--fs-150);
  color: var(--font-color);
}
a {
  text-decoration: underline;
  color: var(--font-color-light);
}
a:hover {
  color: var(--link-color-hover);
}
a:visited {
  color: var(--link-color);
}
a:visited:hover {
  color: var(--link-color-hover);
}
li {
  margin: 5px 0px 5px 5px;
}
q {
  font-style: italic;
  font-size: var(--fs-150);
}
figcaption {
  text-align: center;
}

video {
  width: 100%;
  height: auto;
  margin: 0;
  object-fit: fill;
}
::selection {
  background-color: var(--primary-color);
  color: black;
  background-clip: text;
  -webkit-text-fill-color: black;
}

@media screen and (max-width: 1450px) {
}

/* Tablets (Querformat) and small laptops */
@media screen and (max-width: 1000px) {
  body {
    background: radial-gradient(
      at top left,
      #292929 0%,
      var(--bg-color-body) 50vh
    );
  }
}

/* Tablet */
@media screen and (max-width: 768px) {
}
/* Smartphone */
@media screen and (max-width: 600px) {
  body {
    background: radial-gradient(
      at top left,
      #292929 0%,
      var(--bg-color-body) 25vh
    );
  }
  h1 {
    font-size: var(--fs-500);
  }
  h2 {
    font-size: var(--fs-300);
  }
  h3 {
    font-size: var(--fs-200);
  }
  h4 {
    font-size: var(--fs-100);
    font-weight: 600;
  }
  h5 {
    font-size: var(--fs-75);
    font-weight: 500;
  }
  h6 {
    font-size: var(--fs-75);
    font-weight: 500;
  }
  p{
    font-size: var(--fs-100);
  }
  q{
    font-size: var(--fs-100);
  }
}
/* Smartphone small */
@media screen and (max-width: 400px) {
  h1 {
    font-size: var(--fs-400);
  }
  h2 {
    font-size: var(--fs-200);
  }
  
}
