
body { background: black}
.form {
  width:100%; 
  
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.h1{text-align: center;
  margin-top: 100px;
  
font-size: 50px;}


.form__row {
  
  color:white;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: white;
  border:2px solid #f7f7f7;

  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 10px;
  width: 420px;
  
  box-sizing: border-box;
  outline:0;
   text-align: left;
  }
  .form_row{
  color:white;
  font-weight:500;
  font-size: 18px;
  line-height: 22px;
  border:2px solid #f7f7f7;
  background-color: #181818;
  padding: 13px;
  margin-bottom: 10px;
  width: 420px;
  
  box-sizing: border-box;
  outline:0;
   text-align: left;
  }
#submit{
  background-color: transparent;
  border-color: transparent;
}



.feedback-input:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#4505f3;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { color: #ffffff;
  background-color:rgb(18, 123, 243);
  box-shadow: 0 0 10px 3px #fcfffc;
  
  }