@media screen and (max-width: 1450px) {}

/* Tablets (Querformat) and small laptops */
@media screen and (max-width: 1000px) {
  body {
    background: radial-gradient(
      at top left,
      #292929 0%,
      var(--bg-color-body) 50vh
    );
  }
}

/* Tablet */
@media screen and (max-width: 768px) {}

/* Smartphone */
@media screen and (max-width: 600px) {
  body {
    background: radial-gradient(
      at top left,
      #292929 0%,
      var(--bg-color-body) 25vh
    );
  }
  h1 {
    font-size: var(--fs-500);
  }
  h2 {
    font-size: var(--fs-300);
  }
  h3 {
    font-size: var(--fs-200);
  }
  h4 {
    font-size: var(--fs-100);
    font-weight: 600;
  }
  h5 {
    font-size: var(--fs-75);
    font-weight: 500;
  }
  h6 {
    font-size: var(--fs-75);
    font-weight: 500;
  }
  p {
    font-size: var(--fs-75);
  }
  q {
    font-size: var(--fs-75);
  }
  li {
    margin: 5px 0px 5px 5px;
    font-size: var(--fs-75);
  }
}

/* Smartphone small */
@media screen and (max-width: 400px) {
  h1 {
    font-size: var(--fs-400);
  }
  h2 {
    font-size: var(--fs-200);
  }
}
