@import url("https://fonts.googleapis.com/css2?family=Gruppo&family=Megrim&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  font-family: "Poppins", "Roboto", "Helvetica", sans-serif;
}

h1 {
  font-size: var(--fs-headline);
}
h2 {
  font-size: var(--fs-500);
}
h3 {
  font-size: var(--fs-300);
}
h4 {
  font-size: var(--fs-150);
}
p {
  font-size: var(--fs-100);
}

a {
  text-decoration: underline;
  color: var(--font-color-light);
}
a:hover {
  color: var(--link-color-hover);
}
a:visited {
  color: var(--link-color);
}
a:visited:hover {
  color: var(--link-color-hover);
}
